<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoMovie!</title>
    <link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="path/to/lightbox.css" rel="stylesheet" />
</head>
<body>
      <nav th:replace="inicio :: nav"></nav>
    

    <div class="textos">
        <h1 class="gomovie">🎬GoMovie!</h1>
        <div id="separador">
            <hr class="red-separator">
        </div>
    </div>

    <main id="mainInicio">
		<div class="text-admin">
			<a class="my-button" th:href="@{/administracion}">Mostrar todas</a>
			<a class="my-button" th:href="@{/adminDescatalogado}">Descatalogado</a>
		</div>

		<table class="tabla" th:if="${peliculas.size > 0}">
			<thead>
				<tr>
					<th>ID</th>
					<th>Foto</th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Rebaja</th>
					<th>Stock</th>
					<th>Género</th>
					<th>Tags</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pelicula: ${peliculas}">
			    		<td th:text="${pelicula.id_pelicula}">ID</td>
			    		<td><img th:src="${pelicula.foto}" class="rebajaFoto"></td>
	      				<td th:text="${pelicula.nombre}">Nombre</td>
	      				<td th:text="${pelicula.descripcion}">Descripción</td>
	      				<td th:text="${pelicula.precio}+€">Precio</td>
	      				<td>
	      					<p th:if="${pelicula.rebaja > 0}"> <span th:text="${pelicula.rebaja}+'%'">Rebaja</span> </p>
	      					<p th:if="${pelicula.rebaja == 0}"> <span> Sin rebaja </span> </p>
	      				</td>
	      				<td th:text="${pelicula.stock}">Stock</td>
	      				<td th:text="${pelicula.genero.nombre}">Género</td>
	      				<td> 
	      					<p th:each="tag : ${pelicula.tags}">
	      						<span th:text="' [' + ${tag.nombre} + '] '">Tags</span>
	      					</p>
	      				</td>
	      				
				  		<td th:if="${pelicula.descatalogado == 0}">
							<a class="icons" th:href="@{/modificarPelicula/{id}(id=${pelicula.id_pelicula})}">Editar</a>
				  			<a class="icons" th:href="@{/eliminarPelicula/{id}(id=${pelicula.id_pelicula})}">Eliminar</a>
				  		</td>
			    	</tr>
			  </tbody>
			</tbody>
		</table>
		
		<section th:if="${peliculas.size < 1}">
			<h1>No se encontró ninguna pelicula.</h1>
		</section>
    </main>

	<a th:href="@{/inicio}"><button class="btn-detalles">Volver</button></a>

    <footer th:replace="index :: footer"></footer>


    <script src="js/script.js"></script>
</body>
</html>