<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>GoMovie!</title>	
	<link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
		
		
	<div class="alturaCont">
		<div class="container-admin-int">
    		<div class="formPeli"> 
    		    <h1>Añadir película:</h1>
      			<form th:action="${'/guardarPelicula'}" method="POST" th:object="${pelicula}">

      				<div>
	                	<label>Nombre</label>
	                	<input type="text" id="nombre" name="nombre" class="inputAdmin" required>
	                    <br>
	                    
						<label>Descripción</label>
						<textarea id="descripcion" name="descripcion" class="inputAdmin" required></textarea>
						<br>
						
	                    <label>Precio</label>
	                	<input type="number" step="0.01" id="precio" class="inputAdmin" name="precio" required>
	                	<br>
	                	
	                    <label>Stock</label>
	                	<input type="number" id="stock" name="stock" class="inputAdmin" required>
	                	<br>
	                	
						<label>Género:</label>
					    <select th:field="*{genero.id_genero}">
					        <option th:each="genero : ${generos}" th:value="${genero.id_genero}" th:text="${genero.nombre}"></option>
					    </select>
	                	<br>
						
						<label>Tags:</label>
					    <div th:each="tag : ${tags}">
					        <input type="checkbox" name="tagIds" th:value="${tag.id_tag}" th:text="${tag.nombre}">
					    </div>
					    
					    <label>Foto</label>
						<input type="file" name="foto" th:file="*{foto}" class="form-control" required>
						<br>
						
					</div>
					<div class="btn-agregarP">
						<a th:href="@{/administracion}"><button type="button" class="btn-perfil">Volver</button></a>
					
	                    <button class="btn-perfil" type="submit" >Enviar</button>
					</div>	
      			</form>
    		</div>
    	</div>
    </div>
		
    
	<footer th:replace="index :: footer"></footer>

    <script src="js/scripts.js"></script>
</body>
</html>
