<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoMovie!</title>
    <link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav th:replace="inicio :: nav"></nav>

    <div class="container-detalles">
        <img class="img-detalles" th:src="${pelicula.foto}" th:alt="${pelicula.nombre}">
        <div class="detalle">
            <input type="hidden" th:value="${pelicula.id_pelicula}" name="id">
            <h1 th:text="${pelicula.nombre}"></h1>
            <h3 th:text="${pelicula.precio} + '€'"></h3>
            <h5 th:text="${pelicula.genero.nombre}"></h5>
            <h5 th:text="${pelicula.duracion}"></h5>

            <div class="cuadrante">
                <p>⭐ 4.5 / 5</p>
            </div>

            <div class="caja-roja">
                <p th:text="${pelicula.descripcion}"></p>
            </div>

            <button class="comprar-btn" ><i class='bx bxs-cart-alt'></i><a th:href="@{/inicio}">Comprar</a></button>
        </div>
    </div>

    <footer th:replace="index :: footer"></footer>

    <script src="js/script.js"></script>
  
</body>
</html>

