<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoMovie!</title>
    <link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<body>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <span class="logo navLogo"><a title="inicio" th:href="@{/inicio}" id="texttttt"><img src="../assets/img/logo.png" th:src = "@{/assets/img/logo.png}" alt="" id="fotou"></a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">CodingLab</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a th:href="@{/inicio}">Películas</a></li>
                    <li><a th:href="@{/ofertas}">Ofertas</a></li>
                    <li><a th:href="@{/lista}">Tu lista</a></li>
                    <li><a th:href="@{/proximamente}">Próximamente</a></li>
                </ul>
            </div>

            <div class="darkLight-searchBox">
            	<div class="searchBox">
                    <div class="searchToggle">
                        <i class='bx bx-x cancel bx-sm icons' style= "color:white" ></i>
                        <i class='bx bx-search search bx-sm icons' style= "color:white"></i>
                    </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search icons'></i>
                    </div>
                </div>
            
                <div class="searchBox">
                    <a th:href="@{/perfil}" class="skr"><i class="bx bxs-user bx-sm icons" ></i></a>
                </div>

                <div class="searchBox">
                    <a th:href="@{/}"><i class='bx bx-log-out bx-sm icons'></i></a>
                </div>          
            </div>
        </div>
    </nav>

    <div class="container-detalles">
        <div  class="">
            <img class="img-detalles" src="https://via.placeholder.com/150x225.png?text=Serie+1" alt="Serie 1">
            <div class="detalle">
                <h1 >Ready Player One</h1>
                <h3>9.99€</h3>
                <h5>Ciencia ficción. Aventuras. Acción</h5>
                <h5>2 h 30 mins.</h5>
                <p>Año 2045. Wade Watts es un adolescente al que le gusta evadirse del cada vez más sombrío mundo real a
                través de una popular utopía virtual a escala global llamada "Oasis". Un día, su excéntrico y multimillonario creador muere,
                pero antes ofrece su fortuna y el destino de su empresa al ganador de una elaborada búsqueda del tesoro a través de los rincones
                más inhóspitos de su creación. Será el punto de partida para que Wade se enfrente a jugadores, poderosos enemigos corporativos y
                otros competidores despiadados, dispuestos a hacer lo que sea, tanto dentro de "Oasis" como del mundo real, para hacerse con el premio.</p>
                <button class="register-btn"><i class='bx bxs-cart-alt'></i><a th:href="@{/inicio}">Comprar</a></button>
            </div>
        </div>
    </div>

    <footer th:replace="index :: footer"></footer>


    <script src="js/script.js"></script>
  
</body>
</html>

