<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>GoMovie!</title>
	<link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
	
	<body id="page-top">

	<nav th:replace="inicio :: nav"></nav>
	
	<div class="container p-4">
		<a th:href="@{/inicio}"><img src="../static/assets/img/logo.png" id="fotoPerfil" th:src="@{/assets/img/logo.png}" class="w-25 d-block m-auto p-5" /></a>
		
		<div class="cositas bg-light pt-4 border border-4">



			<div class="rowPerfil2">

				<h2 class="titulosh2 centrados">Detalles de tu compra:</h2><br>

				<div class="datosPerfil">
					Nº <span class="text-muted pe-4" th:text="${numero}"></span><br>
					<b>Pedido: </b><span class="text-muted pe-4" th:text="${pedido}"></span><br>
					<b>Entrega: </b><span class="text-muted pe-4" th:text="${entrega}"></span><br>
					<b>Dirección: </b><span class="text-muted pe-4" th:text="${direccion}"></span><br>
					<b>Total: </b><span class="text-muted pe-4" th:text="${total}+€"></span>
				</div>


				<div class="row">
					<div class="contenedorTabla">
						<table class="table">
							<thead>
									<tr>
										<th scope="col">Cantidad</th>
										<th scope="col">Producto</th>
										<th scope="col">Precio</th>
										<th scope="col">Total</th>
									</tr>
							</thead>
							<tbody>
								<tr th:each="detalle : ${detalles}">
									<td  th:text="${detalle.cantidad}"></td>
									<td th:text="${detalle.nombre}"></td>
									<td th:text="${detalle.precio}+€"></td>
									<td th:text="${detalle.total}+€"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>

	    	<p class="text-center"><a th:href="@{/perfil}"><button class="btn-perfilll">VOLVER</button></a></p>
		</div>
		
	</div>
	
	<footer th:replace="index :: footer"></footer>
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>