<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>GoMovie!</title>	
	<link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
	
	
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

	<body>
	
		<div class = "container-login">
		
    		<div class="container-login-int"> 
    			
    			<a th:href="@{/}"><img class="logo-login" src="../assets/img/logo.png"  th:src="@{/assets/img/logo.png}" /></a>
    			

      			<form class="form-login" th:action="@{/login}" method="post">
					<!--Mensajes de error-->
        			<div th:if="${param.error}">
          				<div>Usuario o contraseña inválidos</div>
        			</div>

        			<div th:if="${param.logout}">
          				<div>Ha cerrado sesión exitosamente</div>
        			</div>
        		
        			<!-- Email input -->
        			<div>
          				<input type="email" id="form-email" name="username" class="form-control" placeholder="Correo electrónico" />
        			</div>

        			<!-- Password input -->
        			<div>
          				<input type="password" id="form-password" name="password" class="form-control" placeholder="Contraseña" />
       			 	</div>

			        <!-- Submit button-->
			        <button type="submit" class="btn-login" >ENTRAR</button>

			        <!-- Register buttons -->
			        <div class="register">
         				<p>¿No eres miembro? <a id="register" th:href="@{/signup}">Registrate aquí</a></p>
          				<p>o accede con:</p>
          				<i class="fab fa-facebook-f"></i>
          				<i class="fab fa-google"></i> 

				        <i class="fab fa-twitter"></i>

          				<i class="fab fa-github"></i>
        			</div>
      			</form>
    		</div>
    	</div>
		
    
	<footer th:replace="index :: footer"></footer>

    <script src="../js/scripts.js"></script>

  </body>
</html>
