<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoMovie!</title>
    <link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<body>

<div class="container p-4">

    <a th:href="@{/inicio}"><img src="../static/assets/img/logo.png" th:src="@{/assets/img/logo.png}" id="fotoPerfil" /></a>


    <div class="cositas bg-light pt-4 border border-4">

        <div class="profile-menu bg-light">

            <div class="profile-info">
	
                <div class="rowPerfil">
                    <h2 class="titulosh2">Tus datos:</h2>
                    <br>
					<form th:action="@{/save}" th:object="${usuario}" method="post">
						<input type="hidden" th:field="*{id_usuario}">
	                    <b>Nombre:</b>
	                    <input th:field="*{nombre}" type="text" class="inputPerfil" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="nombre" name="nombre" required>
	                    <br>
	                    <b>Apellidos:</b>
	                    <input th:field="*{apellido}" type="text" class="inputPerfil" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="apellidos" name="apellidos" required>
	                    <br>
	                    <b>Dirección:</b>
	                    <input th:field="*{direccion}" type="text" class="inputPerfil" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="direccion" name="direccion" required>
	                    <br>
	                    <b>DNI:</b>
	                    <input th:field="*{dni}" type="text" class="inputPerfil" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="dni" name="dni" required>
	                    <br>

                    	<button class="btn-perfil"><a th:href="@{/perfil}">Enviar</a></button>
					</form>
                </div>

            </div>

        </div>

        <p class="text-center"><a th:href="@{/perfil}"><button class="btn-perfilll">VOLVER</button></a></p>

    </div>

</div>

<footer th:replace="index :: footer"></footer>


<script src="../js/script.js"></script>

</body>
</html>