<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoMovie!</title>
    <link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<body>
  <nav th:replace="inicio :: nav"></nav>

<div class="container p-4">

    <a th:href="@{/inicio}"><img src="../static/assets/img/logo.png" th:src="@{/assets/img/logo.png}" id="fotoPerfil" /></a>

    <!-- <div sec:authorize="isAuthenticated()">
        <b>Usuario:</b> <span sec:authentication="name">Username</span>&nbsp;<i><span sec:authentication="principal.authorities">Roles</span></i>
    </div> -->

    <div class="cositas bg-light pt-4 border border-4" th:each="usuario : ${usuarios}">

        <div class="profile-menu bg-light">

            <div class="profile-info">

                <div class="rowPerfil">
                    <h2 class="titulosh2">Tus datos:</h2>
                    <div class="perfilTextos">
                        <b>Correo electrónico:</b>
                        <p th:text="${usuario.email}">correo_ejemplo@ejemplo.com</p>
                        <br>
                        <b>Nombre:</b>
                        <p th:text="${usuario.nombre}">Nombre Ejemplo</p>
                        <br>
                        <b>Apellidos:</b>
                        <p th:text="${usuario.apellido}">Apellido Ejemplo</p>
                        <br>
                        <b>Dirección:</b>
                        <p th:text="${usuario.direccion}">Calle Ejemplo, Nº 123</p>
                        <br>
                        <b>DNI:</b>
                        <p th:text="${usuario.dni}">12345678A</p>
                        <br>
                    </div>

                    <button class="btn-perfil"><a th:href="@{/modificarPerfil/{id}(id=${usuario.id_usuario})}"> Modificar datos</a></button>

                </div>

            </div>


            <div class="profile-orders">
                <div class="rowPerfil">
                    <h2 class="titulosh2">Tus compras:</h2>

                    <div class="contenedorTabla">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pedido</th>
                                    <th>Dirección</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="orden: ${ordenes}">
                                    <td th:text="${orden.fecha_creacion}"></td>
                                    <td th:text="${orden.direccion}"></td>
                                    <td th:text="${orden.total}+€"></td>
                                    <td><a th:href="@{/detallecompra/{id_orden} (id_orden=${orden.id}) }" class="btn btn-primary">Detalles</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <p class="text-center"><a th:href="@{/inicio}"><button class="btn-perfilll">VOLVER</button></a></p>

    </div>

</div>

    <footer th:replace="index :: footer"></footer>

	<script th:src="@{/js/hamburguer.js}"></script>
    <script th:src="@{/js/script.js}"></script>

</body>
</html>



