<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoMovie!</title>
    <link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	
		
		
		
	<div class="container-signup">
		
	<div class="container-signup-int">
	
	<a th:href="@{/}"><img class="logo-signup" src="../assets/img/logo.png"  th:src="@{/assets/img/logo.png}" /></a>
		
		<form class="form-signup" th:action="@{/signup}" method="post" th:object="${usuario}">

			<div th:if=${param.exito}>
			<div class="Usuario-nuevo">Se ha registrado exitosamente a
				la aplicación.</div>
		</div>
		<div th:if=${param.fallo}>
			<div class="Usuario-registrado">El usuario ya está registrado.</div>
		</div>
		

			<div class="nombre registro">
				<input type="text" class="form-control-signup"
					name="nombre" th:field="*{nombre}" placeholder="Nombre" required />
			</div>

			<div class="apellido registro">
				<input type="text" class="form-control-signup"
					name="apellido" th:field="*{apellido}" placeholder="Apellido"
					required />
			</div>

			<div class="email registro">
				<input type="email" class="form-control-signup"
					name="email" th:field="*{email}" placeholder="Correo electrónico"
					required />
			</div>

			<div class="pass registro">
				<input type="password" class="form-control-signup"
					name="password" th:field="*{password}" placeholder="Contraseña"
					required />
			</div>
			
			<!-- Enabled input -->
			<div class="form-outline mb-4 w-50 d-block m-auto">
				<input type="hidden" class="form-control-signup" th:name="enabled"
					value="1">
			</div>
			<!--  <div class="form-outline mb-4 w-50 d-block m-auto">
				<input type="checkbox"  id="enabled"  class="form-check-input me-2"  name="enabled"  th:field="*{enabled}"  aria-describedby="registerCheckHelpText"  checked />
				<label class="form-check-label" for="enabled"> Habilitar</label><br>
			</div>-->

			<!-- Password input -->
			<!--<div class="form-outline mb-4 w-50 d-block m-auto">
                    <input type="password" id="form2Example3" class="form-control" placeholder="Repita la contraseña" />
                </div>-->

			


			<div class="form-group">
				<button type="submit"
					class="btn-signup">Registrar</button>
			</div>


			<div class="Inicio-sesion">
				<p>
					¿Eres miembro? <a th:href="@{/login}">Inicia sesión</a>
				</p>
				
			</div>
		
		</form>
		</div>

	<br>

	<footer th:replace="index :: footer"></footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../js/scripts.js"></script>
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>