<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>GoMovie!</title>
	<link rel="icon" href="../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>
	<a th:href="@{/}"><img src="../static/assets/img/logo.png" th:src="@{/assets/img/logo.png}" alt="" class="w-25 d-block m-auto p-5"></a>
	<div class="container">
		<div th:if=${param.exito}>
			<div class="alert alert-info">Se ha registrado exitosamente a la aplicación.</div>
		</div>
		<div th:if=${param.fallo}>
			<div class="alert alert-danger">El usuario ya está registrado.</div>
		</div>
		<form th:action="@{/signup}" method="post" th:object="${usuario}">

			<!-- nombre input -->
			<div class="form-outline mb-4 w-50 d-block m-auto">
				<input type="text" id="form2Example3" class="form-control" name="nombre" th:field="*{nombre}"
					placeholder="Nombre" />
			</div>

			<!-- apellido input -->
			<div class="form-outline mb-4 w-50 d-block m-auto">
				<input type="text" id="form2Example4" class="form-control" name="apellido" th:field="*{apellido}"
					placeholder="Apellido" />
			</div>

			<!-- Email input -->
			<div class="form-outline mb-4 w-50 d-block m-auto">
				<input type="email" id="form2Example1" class="form-control" name="email" th:field="*{email}"
					placeholder="Correo electrónico" />
			</div>

			<!-- Password input -->
			<div class="form-outline mb-4 w-50 d-block m-auto">
				<input type="password" id="form2Example2" class="form-control" name="password" th:field="*{password}"
					placeholder="Contraseña" />
			</div>

			<!-- Password input -->
			<!--<div class="form-outline mb-4 w-50 d-block m-auto">
                    <input type="password" id="form2Example3" class="form-control" placeholder="Repita la contraseña" />
                </div>-->

			<!-- Checkbox -->
			<div class="form-check d-flex justify-content-center mb-4">
				<input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
					aria-describedby="registerCheckHelpText" />
				<label class="form-check-label" for="registerCheck">
					He leído y acepto los términos
				</label>
			</div>

			<!-- Submit button -->
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block d-block m-auto mb-4">Registrar</button>
			</div>

			<!-- Register buttons -->
			<div class="text-center">
				<p>¿Eres miembro? <a th:href="@{/login}">Inicia sesión</a></p>
				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-facebook-f"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-google"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-twitter"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1 pb-3">
					<i class="fab fa-github"></i>
				</button>
			</div>

		</form>

	</div>
	<br>


	<!-- Footer-->
	<footer class="footer py-4">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 text-lg-start">Copyright &copy; GAME OVER 2023</div>
				<div class="col-lg-4 my-3 my-lg-0">
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
							class="fab fa-twitter"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
							class="fab fa-facebook-f"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
							class="fab fa-linkedin-in"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Instagram"><i
							class="fab fa-instagram"></i></a>
				</div>
				<div class="col-lg-4 text-lg-end">
					<a class="link-dark text-decoration-none me-3" href="#!">Términos de privacidad</a>
					<a class="link-dark text-decoration-none" href="#!">Condiciones de uso</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>